*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

html {
  background-color: #1a1a1a;
  font-family: "Inter";
  color: #ffffff;
  scroll-behavior: smooth;
}

body {
  height: fit-content;
  overflow: auto;
}

header {
  width: 100%;
  padding-right: 20px;
}

header,
body,
footer {
  max-width: 1600px;
  margin: 0 auto;
}

footer {
  padding: 50px;
  align-items: center;
  justify-content: center;
  overflow-wrap: break-word;
}

footer h5 {
  font-size: 1em;
  font-family: "Orbitron";
}

.logo {
  height: 60px;
  margin: 1.5rem;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  background: #1a1a1a;
  z-index: 1000;
}

.primary-navigation {
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}

.active {
  text-underline-offset: 8px;
  text-decoration: underline;
}

.mobile-nav-toggle {
  display: none;
}

.primary-navigation a {
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
}

.primary-navigation a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

@media (max-width: 35em) {
  .primary-navigation {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 30%;
    flex-direction: column;
    align-items: center;
    padding: min(30vh, 10rem) 2rem;
    transform: translateX(100%);
    transition: transform 250ms ease-out;
  }

  .primary-navigation[data-visible="true"] {
    transform: translateX(0%);
  }

  @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
      background: hsl(0 0% 100% / 0.1);
      backdrop-filter: blur(1rem);
    }
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    background: url("/Hamburger_icon.svg");
    background-repeat: no-repeat;
    border: 0;
    width: 2rem;
    aspect-ratio: 1;
    top: 2rem;
    right: 2rem;
    z-index: 9999;
  }

  .mobile-nav-toggle[aria-expanded="true"] {
    background-image: url("/close-icon.svg");
    background-repeat: no-repeat;
  }

  footer {
    font-size: 0.5em;
  }
}
