<div id="Roadmap" class="site-art flex">
   <h1>Roadmap Coming Soon!</h1>
</div>

<style>
    .site-art{
        justify-content: center;
        align-items: center;
 background: -webkit-image-set( url("/site-art.svg")    1x,
                                   url("/site-art.svg") 2x);       
        background-repeat: no-repeat;
        background-size: contain;
        height: 200px;
        font-family: "Orbitron";
    }


    @media (min-width: 35em) {
    .site-art {
            height: 438px;
        }
    .site-art h1{
        font-size: 2em;
    }
    @media (min-width: 64em) {
    .site-art {
            height: 857px;
        }
    .site-art h1{
        font-size: 2em;
    }
    }
</style>
